<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="horn" type="Horn.Services.Core.Config.HornConfig,Horn.Services.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <horn buildfrequency="1440" hornrootdirectory="C:\hornget\" dropdirectory="c:\zip\" horntempdirectory="C:\Temp\Horn\" xmllocation="C:\zip\" />
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\CurrentLog.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
      <mapping>
        <level value="ERROR"/>
        <eventLogEntryType value="Error"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <eventLogEntryType value="Information"/>
      </mapping>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
</configuration>