<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="horn" type="Horn.Services.Core.Config.HornConfig,Horn.Services.Core" />
  </configSections>
  <horn hornrootdirectory="C:\hornget\"/>
  <log4net debug="false">
    <appender name="OutputFileAppender" type="log4net.Appender.FileAppender">
      <file value="build_root_dir.txt" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%5p [%d] - %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="OutputFileAppender" />
    </root>
  </log4net>  
</configuration>